body {
    font-size: 18px;
    background-color: hsl(217, 54%, 11%);
    font-family: 'Outfit', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container {
    background-color: hsl(216, 50%, 16%);
    max-width: 300px;
    padding: 15px;
    border-radius: 20px;
    margin-top: 20px;
}

.container .image {
    position: relative;
    transition: 0.5s;
}

.container .image:hover::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: hsl(178, 100%, 50%, 0.5);
    z-index: 1;
    border-radius: 20px;
}

.container .image .img {
    width: 100%;
    border-radius: 20px;
    display: block;

}

.container .image .view-icon {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.container .image:hover .view-icon {
    display: block;
}

.title-card {
    color: hsl(0, 0%, 100%);
    margin: 20px 0;
    font-size: 22px;
    font-weight: normal;
}

.text-card {
    color: hsl(215, 51%, 70%);
    line-height: 1.5;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px
}

.flex span {
    font-size: 16px;
    display: flex;
    align-items: center;
}

.flex span img {
    margin-right: 5px
}

.cyan {
    color: hsl(178, 100%, 50%);

}

.soft-blue {
    color: hsl(215, 51%, 70%);
}

hr {
    border: 1px solid hsl(215, 32%, 27%)
}

.footer-card {
    display: flex;
    align-items: center;
    color: hsl(215, 51%, 70%);
}

.footer-card img {
    width: 40px;
    border: 1px solid hsl(0, 0%, 100%);
    border-radius: 50%;
    margin-right: 10px
}

.footer-card span {
    color: hsl(0, 0%, 100%);
    margin-left: 5px
}

.footer-card span:hover,
.title-card:hover {
    color: hsl(178, 100%, 50%);
    cursor: pointer;
}